.skillbox{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 30px auto;
    background-color: rgb(98 102 176 / 27%);
    opacity: 1;
    padding: 30px;
}
.skillbox img
{
    width: 150px;
    height: 154.163px;
}

@media screen and (max-width:946px) {
    .skillbox{
        width: 80vw;
    }
}

@media screen and (max-width:646px) {
    .skillbox{
        width: 92vw;
        height: 50vh;
        overflow: auto;
    }
    .skillbox img{
        width: 110px;
        height: 113.05px;
    }
}
img[title] {
    
    color: yellow;
  }

  @media screen and (max-width:290px) {
    .skillbox{
        width: 92vw;
        padding: 5px;
    }
    .skillbox img{
        width: 100px;
        height: 109.05px;
    }
}